<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <style>
        .ucar {
            width: 60px;
        }
    </style>
</head>

<body>
    <div id="con">
        <div class="container" style="margin: 50px auto">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Username</label>
                            <div class="col-sm-10">
                                <input type="text" v-model="u_name" class="form-control" id="inputEmail3" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" v-model="u_pwd" class="form-control" id="inputPassword3" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" class="btn btn-default" v-on:click="login">Login In</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container" v-show="showbool">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    编号
                                </th>
                                <th>
                                    用户名
                                </th>
                                <th>
                                    密码
                                </th>
                                <th>
                                    操作
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="key in page">
                                <td v-text="key.id">
                                </td>
                                <td>
                                    <span v-show="!key.booluser" v-text="key.username" @click='usernameSpan(key.id)'></span>
                                    <input type="text" :val="key.username" v-show="key.booluser" v-model="key.username" class="ucar" @blur="usernameInput(key.id)">
                                </td>
                                <td>
                                    <span v-show="!key.boolpwd" v-text="key.password" @click='passwordSpan(key.id)'></span>
                                    <input type="text" :val="key.password" v-model="key.password" v-show="key.boolpwd" class="ucar" @blur="passwordInput(key.id)">
                                </td>
                                <td>
                                    <button type="button" @click='save(`{"id":"${key.id}","username":"${key.username}","password":"${key.password}"}`)'>保存</button>
                                    <button type="button" @click="del(key.id)">删除</button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>
                                    <button type="button" @click="loadMore">查看更多</button>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="../../js/vue.js"></script>
    <script src="../../js/jquery.js"></script>
    <script>
        new Vue({
            el: "#con",
            data: {
                u_name: "",
                u_pwd: "",
                showbool: false,
                tab: [],
                pageNum: 2,
                page: []
            },
            methods: {
                login: function () {
                    var self = this;
                    $.ajax({
                        url: "http://localhost:9000/login",
                        type: "post",
                        data: {
                            username: self.u_name,
                            password: self.u_pwd
                        },
                        dataType: "JSON"
                    }).then((data) => {
                        console.log(data)
                        if (data.status == 0) {
                            alert(data.msg);
                        } else {
                            alert("登录成功");
                            self.showbool = true;
                            var tabs = data["results1"];
                            console.log(tabs)
                            for (var i = 0; i < tabs.length; i++) {
                                tabs[i].booluser = false;
                                tabs[i].boolpwd = false;
                            }
                            var newArr = [];
                            for (var i = 0; i < self.pageNum; i++) {
                                newArr.push(tabs[i]);
                            }
                            console.log(tabs)
                            self.page = newArr;
                            self.tab = tabs;
                        }
                    })
                },
                usernameSpan: function (id) {
                    for (var i = 0; i < this.tab.length; i++) {
                        if (this.tab[i].id == id) {
                            this.tab[i].booluser = true;
                        } else {
                            this.tab[i].booluser = false;
                        }
                    }
                },
                passwordSpan: function (id) {
                    for (var i = 0; i < this.tab.length; i++) {
                        if (this.tab[i].id == id) {
                            this.tab[i].boolpwd = true;
                        } else {
                            this.tab[i].booluser = false;
                        }
                    }
                },
                usernameInput: function (id) {
                    for (var i = 0; i < this.tab.length; i++) {
                        if (this.tab[i].id == id) {
                            this.tab[i].booluser = false;
                        }
                    }
                },
                passwordInput: function (id) {
                    for (var i = 0; i < this.tab.length; i++) {
                        if (this.tab[i].id == id) {
                            this.tab[i].boolpwd = false;
                        }
                    }
                },
                save: function (data) {
                    var obj = JSON.parse(data);
                    console.log(obj)
                    $.ajax({
                        url: "http://localhost:9000/update",
                        type: "post",
                        data: {
                            username: obj.username,
                            password: obj.password,
                            id: obj.id
                        }
                    }).then(function (res) {
                        alert(res);
                    })
                },
                del: function (id) {
                    var self = this;
                    $.ajax({
                        url: "http://localhost:9000/delete",
                        type: "post",
                        data: {
                            id: id
                        },
                        dataType:"JSON"
                    }).then(function (data) {
                        self.showbool = true;
                        console.log(data)
                        var tabs = data["results1"];
                        console.log(tabs)
                        for (var i = 0; i < tabs.length; i++) {
                            tabs[i].booluser = false;
                            tabs[i].boolpwd = false;
                        }
                        var newArr = [];
                        for (var i = 0; i < self.pageNum; i++) {
                            newArr.push(tabs[i]);
                        }
                        console.log(tabs)
                        self.page = newArr;
                        self.tab = tabs;
                    })
                },
                loadMore: function () {
                    this.pageNum += 2;
                    var newArr = [];
                    for (var i = 0; i < this.pageNum; i++) {
                        if (this.tab.length > i) {
                            newArr.push(this.tab[i])
                        }
                    }
                    console.log(newArr)
                    this.page = newArr;
                }

            }
        })
    </script>
</body>

</html>